:root {
  --color-gray-1: #202020;
  --color-gray-2: #222222;
  --color-gray-3: #676767;
  --color-green-1: #ACC8B4;
}

body, html {
  background: var(--color-gray-1);
  color: var(--color-green-1);
  font-family: Inter;
  font-size: 16px;
}

body {
  margin: 0;
}

.mx-auto {
  margin-inline: auto;
}

.ml-auto {
  margin-left: auto;
}

.w-full {
  width: 100%;
}

.bg-gray-1 {
  background: var(--color-gray-1);
}

.bg-gray-2 {
  background: var(--color-gray-2);
}

.bg-gray-3 {
  background: var(--color-gray-3);
}

.bg-green-1 {
  background: var(--color-green-1);
}

.text-green-1 {
  color: var(--color-green-1);
}

.container {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 96rem;
  }
}

